<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>

  <div class="inputForm" ng-controller="YoutubeCtrl">
    <div class="form-group">
      <label class="control-label" for="inputLarge">Youtube URL</label>
      <input class="form-control input-lg" type="text" id="inputLarge" ng-model="url" ng-change="validate()">
    </div>
    <div class="workspace" ng-show="hasData">
      <div class="loader" ng-show="isLoading">
        <i class="mdi-navigation-refresh mdi-material-lime"></i>
      </div>
      <div class="preview clearfix">
        <div class="video-container">
          <div class="video-wrap">
            <youtube-video video-id="selectedVideo"></youtube-video>
          </div>
        </div>
        <div class="info">
          <h4>Video: {{videoInfo.title}}</h4>
          <div class="form-group">
            <label class="control-label" for="inputLarge">Your name:</label>
            <input class="form-control input-lg" type="text" id="inputSmall">
          </div>
          <p><button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Send video<div class="ripple-wrapper"></div></button></p>
        </div>
      </div>
    </div>
  </div>

  <span>for test: https://www.youtube.com/watch?v=Tz94SfyhNkk</span>

</div>
